<ion-view view-title="More">
  <ion-content>
<!--    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>-->
    <div class="card">
      <div class="item item-divider">
        Inquiry
      </div>
      <div class="item item-text-wrap">
        For More Information, you can call on
        <div class="">
          <i class="icon ion-ios-telephone"></i>&nbsp;<a ng-href="tel: 02332222515">(0233) 2222515</a>
        </div>

      </div>
<!--      <div class="item item-divider">
        I'm a Footer in a Card!
      </div>-->
    </div>
    <div class="card">
      <div class="item item-divider">
        About App
      </div>
      <div class="item item-text-wrap" style="text-align: justify">
        <b>TrackBus</b> is developed to save the valuable time of public while waiting for the bus.<br> <b>TrackBus</b> gives the exact knowledge of bus timing and arrival time on the stop, so that passangers can utilize their time in other work instead of waiting for bus.
      </div>
    </div>

  </ion-content>
</ion-view>
